@{
    ViewData["Title"] = "Home Page";
}

<h3>
    Welcome to the future home of Fechtkunst, the HEMA video wiki.
</h3>
<div>While we build the new site, here is a snapshot of the old site: </div>
<h2><a href="~/Old/home.html">Old Wiki</a></h2>
<div>Demo of new site (really early demo)</div>
<h2><a href="~/demo">Demo Site</a></h2>

<hr />

