@model HemaVideoLib.Models.BookDetail

@{
    ViewData["Title"] = Model.BookName;
}

<h1>@Model.BookName</h1>


@*
    @foreach(var section in Model.Sections){
    <h2><a href="book/@Model.BookKey/section/{section.SectionKey}">@(section.SectionName)</a> </h2>

    @foreach(var s2 in section.Subsections){

        <h3><a href="book/@Model.BookKey/section/{s2.SectionKey}">@(s2.SectionName)</a> </h3>

    }

}
    *@


@foreach(var section in Model.Sections){
        @Html.Partial("_SectionSummary", section)
}

