@model HemaVideoLib.Models.BookDetail

@{
    ViewData["Title"] = Model.BookName;
}

<h1>@Model.BookName</h1>
<div>@Model.AlternateBookName</div>
<h2>Author</h2>
@foreach (var author in Model.Authors)
{
    <div>@author.AuthorName</div>
}


<h2>Sections</h2>

@foreach (var section in Model.Sections)
{
    @Html.Partial("_SectionSummary", section)
}

