@model System.Collections.Generic.List<HemaVideoLib.Models.BookAuthorDetail>

@{
    ViewData["Title"] = "All Books";
}

    <h1>All Books</h1>

    @foreach(var book in Model){
        <h2><a href="book/@book.BookKey">@book.BookName</a> by @book.AuthorName</h2>
    }

